h1{
  background-color: #ffc107;
  display: block;
  margin-right: 1050px;
  padding-bottom: 150px;
}

h2{
  background-color: black;
  color: white;
  display: block;
  margin-right: 1050px;
  padding-bottom: 150px;
}

h3{
  background-color: #ffc107;
  display: block;
  margin-right: 1050px;
  padding-bottom: 150px;
}
